; begin auth token
# ${ARTIFACTORY_URI}/registry/:username=${ARTIFACTORY_USERNAME}
# ${ARTIFACTORY_URI}/registry/:_password=${ARTIFACTORY_PASSWORD}
# ${ARTIFACTORY_URI}/registry/:email=${ARTIFACTORY_EMAIL}
# ${ARTIFACTORY_URI}/:username=${ARTIFACTORY_USERNAME}
# ${ARTIFACTORY_URI}/:_password=${ARTIFACTORY_PASSWORD}
# ${ARTIFACTORY_URI}/:email=${ARTIFACTORY_EMAIL}
; end auth token