; begin auth token
//pkgs.dev.azure.com/AmeriaBank/MyAmeria/_packaging/MyAmeria/npm/registry/:username=$(op read $npm_config_azure_user_name)
//pkgs.dev.azure.com/AmeriaBank/MyAmeria/_packaging/MyAmeria/npm/registry/:_password=$(op read $npm_config_azure_access_token)
//pkgs.dev.azure.com/AmeriaBank/MyAmeria/_packaging/MyAmeria/npm/registry/:email=$(op read $npm_config_azure_user_email)
//pkgs.dev.azure.com/AmeriaBank/MyAmeria/_packaging/MyAmeria/npm/:username=$(op read $npm_config_azure_user_name)
//pkgs.dev.azure.com/AmeriaBank/MyAmeria/_packaging/MyAmeria/npm/:_password=$(op read $npm_config_azure_access_token)
//pkgs.dev.azure.com/AmeriaBank/MyAmeria/_packaging/MyAmeria/npm/:email=$(op read $npm_config_azure_user_email)
; end auth token
