//pkgs.dev.azure.com/AmeriaBank/MyAmeria/_packaging/MyAmeria/npm/registry/:username=${npm_config_azure_user_name}
//pkgs.dev.azure.com/AmeriaBank/MyAmeria/_packaging/MyAmeria/npm/registry/:_password=${npm_config_azure_access_token}
//pkgs.dev.azure.com/AmeriaBank/MyAmeria/_packaging/MyAmeria/npm/registry/:email=${npm_config_azure_user_email}
//pkgs.dev.azure.com/AmeriaBank/MyAmeria/_packaging/MyAmeria/npm/:username=${npm_config_azure_user_name}
//pkgs.dev.azure.com/AmeriaBank/MyAmeria/_packaging/MyAmeria/npm/:_password=${npm_config_azure_access_token}
//pkgs.dev.azure.com/AmeriaBank/MyAmeria/_packaging/MyAmeria/npm/:email=${npm_config_azure_user_email}
